
<h1>Calendar</h1>

<%= raw(event_calendar) %>
  	</br>
  	<%= link_to "Home", home_path, :class => 'btn btn-inverse' %>
  	<%= link_to "New Job", new_job_path, :class => 'btn btn-success' %>
    <%= link_to "New Event", new_event_path, :class => 'btn btn-info' %>