<% if signed_in? %>
      <h1>Welcome to the user home page</h1>
<% else %>
  <%= render new_user_session_path %>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_job_path,
            :class => 'btn btn-primary' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>  
            
<% end %>                      