<div class="hero-unit">
<h1>Welcome to Crunch SmartTools</h1>
  </br>	
  <h2>Log in and go!</h2>
  <div>
  <%= link_to "Log in", new_user_session_path, :class => 'btn btn-success btn-large' %>
  </div>
  </br>
  <h3>Not already using Crunch SmartTools? Sign up now!</h3>
    <div>
      <%= link_to "Sign up now!", new_user_registration_path, :class => 'btn btn-info btn-large' %>
    </div>
</div>
 



